= "(#{@user.total_participation_hours} hours total)"
- @user.sports.each do |sport|
  %li.list-group-item
    = link_to edit_user_sport_path(@user, sport), remote: true do
      %i.fa.fa-pencil
    = sport.participation_date
    \- #{sport.name.titleize}
    \- #{sport.team.name}
    \- #{sport.participation_hours} #{'hours'.pluralize(sport.participation_hours)}