.main-box.clearfix
  .main-box-body.clearfix
    .table-responsive
      %table.table.user-list
        %thead
          %tr
            %th
              %span User

            %th
              %span Total Hours

            - if full_render
              %th
                %span Sports

            %th
              %span Email

        %tbody
          - users.each do |user|
            %tr{class: ('active' if user == @user)}

              %td
                %img{alt: "", src: "https://maxcdn.icons8.com/Share/icon/Users//user1600.png", style: 'max-width:50px'}
                = link_to user.name, user_path(user), class: 'user-link'
                %span.user-subhead
                Joined #{l( user.created_at, format: :short)}

              %td.text-center
                = user.total_participation_hours

              - if full_render
                %td.text-center
                  - user.sports.pluck(:name).uniq.each do |sport_name|
                    = sport_icon(sport_name)

              %td
                = mail_to user.email