.row
  .col-md-5
    .well
      %h3= @organization.name.titleize
      %p Teams: #{@organization.teams.count}
      %p Users: #{@organization.users.count}

%hr
  #organization-data
    %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
      - @organization_data[:sport_categories].each_with_index do |category, i|
        %li{class: ('active' if i == 0).to_s}
          %a{"data-toggle" => "tab", :href => "##{category}"}= category.titleize

    .tab-content

      - @organization_data[:sport_categories].each_with_index do |category, i|
        .tab-pane{id: "#{category}", class: ('active' if i == 0).to_s}
          %h4= category
          .row
            .col-md-12
              %div.highchart-chart{id:"#{category}-chart", style: 'width:100%;'}
              .data{data: {hours: @organization_data[:participation_data][category].to_json} }
.row
  .col-md-12
    %hr
      #user-teams-container
        = link_to 'See All Teams', organization_teams_path(@organization), remote: true, class: 'btn btn-primary'
